<table class="table table-striped">
	<tr>
	<th>Materiał:</th>
	<th>Cena:</th>
	<th>Ilość:</th>
	<th>Cena*Ilość:</th>
	</tr>
<% unless norm.has_price? %>
<% norm.quantities.each do |q| %>
	<tr>
		<td><%= q.material.name %></td>
		<td><%=q.material.transport_price %></td>
		<td><%=q.value %></td>
		<td><%=q.partial_price %></td>
	</tr>
<%end%>
<% end %>
	<tfoot>
		<td></td>
		<td></td>
		<td></td>
		<td>Suma: <%= norm.final_price %></td>
	</tfoot>
</table>